body{
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
}
header{
    background: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{color: white;
text-decoration: none;
margin: 0 10px;
font-weight: bold;
}
.hero{background:url("https://picsum.photos/1200/400?travel") no-repeat center/cover;
color: white;
padding: 60px 20px;
text-align: center;}
.container{
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards{
   flex: 1; 
   background-color: white;
   box-shadow: 0px 4px 11px black;
   border-radius: 10px;
   padding: 20px;
   min-width: 250px;
   text-align: center;
   transition: 2s;
   

}
.feedback{
    display: flex;
    padding: 20px;
    gap:20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cmnts{ flex: 1; 
    
   background-color: white;
   box-shadow: 0px 4px 11px black;
   border-radius: 10px;
   padding: 20px;
   min-width: 250px;

   text-align: center;

}
.contact{
    background: #f39c12;
    padding: 30px;
    text-align: center;
    color: white;
}
button{
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background:#2c3e50 ;
    font-weight: bold;
}
footer{ background: #2c3e50;
    color: white;
    padding: 20px;
    
    text-align: center;}
.cards,.cmnts:hover{transform: translateX(10PX);}
.Gallery{
    display: flex;
    flex-wrap: wrap

}
figure img{
    border-radius: 7px;
}
figcaption{text-align: center;
margin: 10px;
font-weight: bold;
font-size: 25px;}
figure{
    max-width: 400px;
    
}
.quotesh2{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background-color: #f39c12;
    padding: 20px;
}
.grid{
    display: grid;grid-template-columns: 1fr 2fr 1fr;
    min-height: 70vh;
    padding: 20px;
    gap:20px
}
.sidebar{
    background-color: #ecf0f1;
    padding: 20px;
    font-size: 26;
    border-radius: 8px;
    box-shadow: 0px 4px 13px black;
    background-image: url(download.jpg);
    background-size: cover;
    color: brown;
    
}
.sidebar h2{
    text-align: center;
}
.booking{
    display: grid;
    place-items: center;
    background-color: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0px 4px 13px black ;
}
.bookingform{
    display: grid;
    gap: 20px;
    max-width: 400px;
    width: 100%;
}
.bookingform button{
    font-size: 25px;

}
.bookingform label{font-weight: bold;}
.adv{
    background-image: url(download\ \(1\).jpg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 13px black;
}
